@import '../../../vars.css';

.mainMenu {
  background-color: var(--color-white);
}

.list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  height: 1.5rem;
  gap: 1rem;
}

.item {
  position: relative;
  display:block;
  font-size: 1rem;
  font-family: var(--font-header);
  cursor: pointer;
  color: var(--color-dark);
  transition: all 0.5s;
  text-decoration: none;
}

.item:hover {
  color: var(--color-red);
}

.item::after {
  content: "";
  position: absolute;
  background-color: var(--color-red);
  height: 2px;
  width: 0;
  left: 50%;
  bottom: -5px;
  transition: 0.5s;
}

.item:hover::after {
  left: 0;
  width: 100%;
}