.topBar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--color-white);
  min-height: 12vh;
  padding-top: 0.5rem;
}
.main {
  display: flex;
  align-items: center;
}
.nav {
  padding-bottom: 1rem;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem 0;
}

.mode {
  flex:1;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  color: var(--color-dark);
  background-color: inherit;
  transition: all 0.3s;
}

.mode:hover {
  color:var(--color-red);
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


.profileAndSearch {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}