
.socialMedia {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 2rem;
  margin-right: 1%;
  color: var(--color-dark);
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: var(--color-red);


}
.atom {
  margin-right: 10%;
  position: relative;
  width: 60px;
  height: 60px;
  left: 5px;
}
