.flexContainer {
  display: flex;
  align-items: center;
}

.img {
  width: 56vw;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  font-size: 3rem;
  margin:auto;
  font-family: var(--font-header);
  font-weight: 400;
}

input {
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: center;
  color: inherit;
  font-family: inherit;
}

input:focus {
  outline: 1px solid var(--color-lightgrey);
}

.icon {
  margin: 5px;
  cursor: pointer;
  color: var(--color-white);
  transition: all 0.3s;
}


.icon:hover {
  color: var(--color-red);
}

.info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.author {
  font-family: var(--font-text);
}

.date {
  font-family: var(--font-text);
  margin-left: 1rem;
}

.desc {
  margin-top: 1rem;
    font-family: var(--font-text);
}

textarea {
  background-color: inherit;
  border: none;
  height: 15rem;
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

textarea:focus {
  outline: 1px solid var(--color-lightgrey);
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.submitButton {
  border: none;
  color: var(--color-dark);
  background-color: var(--color-white);
  height: 2rem;
  font-size: 1rem;
  width: 5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.submitButton:hover {
  background-color: var(--color-red);
}