.passwordWrapper {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    color: var(--color-white);
}

input {
    background-color: var(--bg-dark);
    color: var(--color-white);
    border: none;
    height: 2rem;
    border-bottom: 1px var(--color-lightgrey) solid;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: all 0.3s;
}

input:hover {
    background-color: var(--color-lightgrey);
    border-radius: 5px;
}

.hide {
    cursor: not-allowed;
    pointer-events: none;
    background-color: var(--color-lightgrey);
}

.warning {
    color: var(--color-red);
}
