.container {
  display: flex;
  height: 100%;
}
.posts {
  flex:10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 30em;
  position: relative;
}

@media only screen and (max-width: 1400px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
