.layout {
  background: var(--bg-dark);
  color: var(--color-white);
}

.topBar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--bg-white);
  display: flex;
  align-items: center;
  min-height: 6vh;
}

.content {
  min-height: 80vh;
}

.footer {
  background: var(--bg-white);
  display: flex;
  justify-content: center;
  min-height: 14vh;
}

