.layout {
  background: var(--bg-dark);
  color: var(--color-white);
  min-height: 100vh;
  max-width: 100vw;
}
.container {
  display: flex;
}

.content {
  flex: 8;
  
  min-height: 79vh;
}

@media only screen and (max-width: 768px) {
  .content {
    min-height: 75vh;
  }
}
