.header {
    background: var(--color-red);
    padding: 4rem 0;
    font-size: 5rem;
    font-family: var(--font-header);
    color: white;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
}
.container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.item {
    color: var(--color-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 30rem;
    aspect-ratio: 3/2;
    border-radius: 3px;
    justify-content: center;
    background-color: var(--bg-white);
    transition: all 0.3s;
}

.item:hover {
    box-shadow: var(--color-red) 0px 0px 10px
}
.icon {
    font-size: 7rem;
    margin-bottom: 2rem;
    margin-right: 1%;
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s;
}



@media only screen and (max-width: 1024px) {
    .header {
        font-size: 4rem;
    }
    .icon {
        font-size: 5rem;
    }
}
@media only screen and (max-width: 768px) {
    .header {
        font-size: 3rem;
    }
    .icon {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 480px) {
    .header {
        font-size: 2rem;
    }
    .icon {
        font-size: 3rem;
    }
}
