.layout {
  background-color: var(--color-dark);
  color: var(--color-white);
  
}
.container {
  display: flex;
  
}
.blank {
  flex: 2
}
.content {
  flex: 8;
  padding-top: 3rem;
  min-height: 88vh;

}
.sideBar {
  flex: 3;
  padding-top: 3rem;
  padding-left: 1rem;
  color: var(--color-white);
  font-family: var(--font-text);
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}