:root {
    --color-dark: hsl(0, 0%, 0%);
    --color-white: hsl(220, 38%, 87%);
    --color-red: hsl(0, 86%, 37%);
    --bg-dark: hsl(30, 3%, 14%);
    --bg-white: hsl(30, 4%, 10%);
    --button: hsl(0, 95%, 15%);

    --color-lightgrey: hsl(0, 0%, 71%);
    --font-header: "Sarpanch", serif;
    --font-text: "Ubuntu", sans-serif;
    font-family: var(--font-text);
}

.dark-mode {
    --color-dark: hsl(0, 0%, 100%);
    --color-white: hsl(0, 0%, 0%);
    --color-red: hsl(0, 100%, 39%);
    --bg-dark: hsl(43, 100%, 99%);
    --bg-white: hsl(39, 29%, 87%);
    --button: hsl(0, 100%, 83%);
}

::selection {
    background-color: var(--button);
}

.error {
    color: hsl(0, 100%, 50%);
    margin: auto;
    padding-top: 1rem;
    font-size: 1.5rem;
}
.button {
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    border: none;
    background-color: var(--bg-white);
    color: var(--color-white);
    border-radius: 5px;
    transition: all 0.1s;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid var(--color-lightgrey);
}

.button:hover {
    background-color: var(--color-red);
    color: var(--color-dark);
}

.cursor__wait:disabled {
    cursor: wait;
}

.cursor__not-allowed:disabled {
    background-color: var(--color-lightgrey);
    cursor: not-allowed;
}

.cursor__not-allowed:hover {
    color: var(--color-white);
}
/*loading spin*/
.loading {
    display: inline-block;
    position: absolute;
    left: calc(50vw - 40px);
    top: 40%;
    width: 80px;
    height: 80px;
}
.loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 4px solid red;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: red transparent transparent transparent;
}
.loading div:nth-child(1) {
    animation-delay: -0.45s;
}
.loading div:nth-child(2) {
    animation-delay: -0.3s;
}
.loading div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Set content for font-families */
.ql-font-arial,
.ql-font span[data-value="arial"]::before {
    font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
    font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
    font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
    font-family: Helvetica, sans-serif;
}
.ql-font-Inter,
.ql-font span[data-value="Inter"]::before {
    font-family: "Inter", sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
    font-size: 13px;
}
.ql-size-small,
.ql-size span[data-value="small"]::before {
    font-size: 14px;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
    font-size: 18px;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
    font-size: 20px;
}

.ql-editor {
    min-height: 50vh;
    font-size: 16px;
}

.ql-editor img {
    max-width: 100%;
}
.ql-toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1;
    background-color: var(--bg-dark);
}
.ql-snow .ql-tooltip.ql-flip {
    width: auto;
    white-space: normal;
}
