
:root {
  --color-dark: #4d4c51;
  --color-white: #f1ece3;
  --color-red: #de4f41;
  --font-cormorant-400: 'Cormorant SC', serif;
  --font-ubuntu-300: 'Ubuntu', sans-serif;
}


.dark-mode {
  --color-dark: #f1ece3;
  --color-white: #4d4c51;
}

