
:root {
  --color-dark: #4d4c51;
  --color-white: #ddd5c1;
  --color-red: #f84a3d;
  --color-lightgrey: rgb(180, 180, 180);
  --font-header: 'Sarpanch', serif;
  --font-text: 'Ubuntu', sans-serif;
  font-family: var(--font-text);
}

.dark-mode {
  --color-dark: #f1ece3;
  --color-white: #4d4c51;
}


